.none{
    display: none;
}

#model_list a {
    line-height: 20px;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-bottom: 1px solid #efefef;
    color: #000;
}

#model_list a.active {
    text-decoration: blink;
    font-weight: bold;
    color: #ff3300;
}

#model_form label {
    width: 10rem;
}

#model_form input[type="text"] {
    width: 40rem;
    height: 5rem;
}

#model_form input[type="text"][readonly] {
    border: 0px;
    outline: 0px;
    background-color: transparent;
}