.none{
    display: none;
}

* {
    font-weight: bold;
    font-family: Georgia, serif;
}

p {
    cursor: default;
}

label {
    font-size: 1.4rem;
    display: inline-block;
    width: 10rem;
}

input[type='button'] {
    height: 2.5rem /* 23/16 */;
    width: 25%;
    font-size: 1.25rem;
    background: #fdf6e3;
    border:0.2rem solid #7fa99b;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    color:#586971;
    cursor: pointer;
    letter-spacing: 0.05rem;
}

input[type='submit'] {
    height: 2.5rem /* 23/16 */;
    width: 25%;
    font-size: 1.25rem;
    background: #fdf6e3;
    box-shadow: none;
    outline:none;
    border:0.2rem solid #7fa99b;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    color:#586971;
    cursor: pointer;
    letter-spacing: 0.05rem;
}

input[type="text"] {
    font-size: 1.2rem;
    text-align: center;
    border:0.2rem solid #7fa99b;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    width: 31rem;
    background-color: #fdf6e3;
}

input[type="text"][readonly] {
    border:0.2rem solid #fdf6e3;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fdf6e3;
    cursor: default;
}

#model_list_tip {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.05rem;
    color: #95e1d3;
    margin-top: 5%;
    margin-bottom: 5%;
}

#no_model_tip {
    font-size: 1.4rem;
    text-align: center;
}

#model_list {
    height: 60vh;
    overflow-y: scroll;    
}

#model_list .model_item {
    font-size: 1.8rem;
    text-align: center;
    line-height: 20px;
    display: block;
    padding: 4px;
    border-top: 2px solid #95e1d3;
    color: #95e1d3;
}

#model_list .model_item:hover {
    color:#586971;
}

#model_list .model_item.active {
    color: #f74747;
}

.tree_tip {
    font-size: 1.5rem;
    color: #95e1d3;
}

#component_tree .unfold_fold {
    font-size: 1.8rem;
    font-family: 'SourceCode';
    cursor: default;
}

#component_tree .component_item {
    font-size: 1.5rem;
    color: #95e1d3;
}

#component_tree .component_item:hover {
    color:#586971;
}

#component_tree .component_item.active {
    font-weight: bold;
    color: #f74747;
}

#create_model_btn {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-50%);
}

#model_display {
    position: absolute;
    left: 15%;
    top: 35%;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
}

#model_display input[type="text"] {
    width: 40rem;
}

#welcome_model_tip {
    margin-bottom: 2rem;
    font-size: 20px;
}

.delete_model_tip {
    font-size: 18px;
}

#enter_config {
    font-size: 20px;
    color: #fdf6e3;
}

#enter_config:hover {
    color:#586971;
}

#welcome_component_tip {
    margin-bottom: 2rem;
    font-size: 20px;
}

#component_display {
    position: relative;
    float: left;
    width: 52%;
    top: 20%;
    font-size: 1.5rem;
    text-align: center;
}

#component_display input[type='button'] {
    width: 29%;
}

#welcome_property_tip {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, serif;
    margin-bottom: 2rem;
}

#property_list {
    height: 20vh;
    overflow-y: scroll;    
}

#property_list .property_item {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: #fdf6e3;
}

#property_list .property_item:hover {
    color:#586971;
}

#property_list .property_item.active {
    color: #f74747;
}

#no_property_tip {
    font-size: 1.3rem;
}

#property_display {
    position: relative;
    float: left;
    width: 48%;
    top: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, serif;
    text-align: center;
}

#property_list_tip {
    margin-top: 2rem;
    border-top: 2px solid #fdf6e3;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, serif;
}

#property_domin_display[placeholder] {
    font-size: 12px;
}

#select_datatype {
    height: 3rem;
    width: 31rem;
    font-size: 1.5rem;
    text-align: center;
    background: #fdf6e3;
    border:0.2rem solid #7fa99b;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    color:#586971;
}
