{%extends "home.html"%} 

{%block style%}
<link rel="stylesheet" href="/static/css/config.css">
<link rel="stylesheet" href="/static/css/jquery.treeview.css"> 
{%endblock%}

{%block title%} 
    Config--Order 
{%endblock%} 

{%block navbar%}
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" class="nav-link">
                Home
            </a>
            <a href="/products" class="nav-link">
                Products
            </a>
            <a href="/model" class="nav-link">
                Model
            </a>
            <a class="nav-link active" href="/config">
                Config
            </a>
            <a class="nav-link" href="/order">
                Order
            </a>
        </div>
    </nav>
    <div class="dropdown">
        <div class="menu_bars" onclick="toggle_menu(this)">
            <div class="menu_bar1"></div>
            <div class="menu_bar2"></div>
            <div class="menu_bar3"></div>
        </div>
        <a href="/" class="nav-link">Home</a>
        <a href="/products" class="nav-link">Products</a>
        <a href="/model" class="nav-link">Model</a>
        <a href="/order" class="nav-link active">Order</a>
        <a href="/about" class="nav-link">About</a>
    </div>
{%endblock navbar%}

{%block side%}
    <div>
        <p>Model Component Tree</p>
        <ul id="component_tree" class="treeview" >
            <li><span class="unfold_fold unfold got_sub">- </span><a class="component_item" data-id="{{root_component_id}}">{{root_component_name}}</a>
                <ul>
                    {% for subcomponent in subcomponents %}
                        <li><span class="unfold_fold fold">+ </span><a class="component_item" data-id="{{subcomponent['id']}}">{{subcomponent['name']}}</a><ul class="none"></ul></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{%endblock%}

{%block main%}
    <div class="opreq-wrapper">
        <p class="opreq-desp">Add Custom Constraints:</p>
        <div class="comp-wrapper">
            <div class="tips">
                <span class="prop-name">NAME</span>
                <span class="prop-dom">DOMAIN</span>
                <ul id="tips_props">
                </ul>
            </div>
            <form id="opreq" action="">
                <input id="cons_inp" type="text" placeholder="custom constraint ...">
                <input id="cons_sub" type="submit" value="ENTER +">
            </form>
        </div>
        <div class="comp-stand"></div>
        <div class="comp-base"></div>
        <div class="comp-circle"></div>
        <div class="operation-bar">
            <ul class="operation-list">
                <li class="operation">+</li>
                <li class="operation">-</li>
                <li class="operation">*</li>
                <li class="operation">/</li>
                <li class="operation">&gt;</li>
                <li class="operation">&lt;</li>
                <li class="operation">&gt;=</li>
                <li class="operation">&lt;=</li>
                <li class="operation">==</li>
                <br/>
                <li class="operation">=&gt;</li>
                <li class="operation">&lt;=&gt;</li>
                <li class="operation">||</li>
                <li class="operation">&amp;&amp;</li>
            </ul>
        </div>
    </div>
    <div class="reqs-wrapper">
        <p class="req-desp">Custom Requirements:</p>
        <div class="short-line"></div>
        <div class="reqs-list">
            <ol id="cons_list" class="reqs"></ol>
            <button id="sub_reqs" class="reqs-sub">SUBMIT</button>
        </div>
    </div>
</div>
<div id="prod_modal" class="prod-modal modal-fade" draggable="true">
    <p class="prod-desp">Available Products:</p>
    <button id="clo_modal" class="clo-modal">×</button>
    <form id="prods_list" action="#" class="prods-list">
    </form>
    <div id="conf_desp" class="conf-desp">
        list of conflicts (you can exit and modify your requirements)
    </div>
    <div id="conf_list" class="conf-list">
        

    </div>
</div>
{%endblock%}

{%block script%}
<script src="/static/js/jquery.treeview.js"></script>
<script>
    var props = [];
    function show_component_info(e) {
        e.preventDefault();
        $('.component_item.active').removeClass('active');
        $(this).addClass('active');
        $.ajax({
            url: '/component/properties',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                id: $(this).data('id')
            }),
            success: function(resp) {
                props = JSON.parse(resp);
                for(var i = 0;i<props.length;i++){
                    props[i] = JSON.parse(props[i]);
                }
                
                for(var i =0;i<props.length;i++){     
                    var prop = props[i];
                    var dom_disp = prop['domin_display'].toString().split(',');
                    var html = "\
                        <li class='prop_li' data-id="+prop['id']+"><span class='pname' id='pname_'"+prop['id']+">"+prop['name']+"</span>\
                        <span class='pdom-list' id='pdom_'"+prop['id']+">";
                    for(var j=0; j<dom_disp.length;j++){
                        html += ("<span class='pdom'>"+dom_disp[j]+"</span>")
                    }
                    html+=("</span></li>")
                    $('#tips_props').append(html);
                }
            }
        });
    }

    $('.component_item').click(show_component_info);

    var now_node, next_com, next_subul;

    function unfold_fold_tree() {
        now_node = $(this);
        next_com = now_node.next();
        next_subul = now_node.next().next();
        console.log('unfold_fold_tree');
        if(now_node.hasClass('got_sub')){
            if(now_node.hasClass('fold')) {
                now_node.removeClass('fold');
                now_node.addClass('unfold');
                now_node.text('- ');
                next_subul.removeClass('none');
            }
            else {
                now_node.removeClass('unfold');
                now_node.addClass('fold');
                now_node.text('+ ');
                next_subul.addClass('none');
            }
        }
        else {
            now_node.removeClass('fold');
            now_node.addClass('unfold');
            now_node.addClass('got_sub');
            now_node.text('- ');
            next_subul.removeClass('none');
            $.ajax({
                url: '/component/subcomponents',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: next_com.data('id')
                }),
                success: function(resp) {
                    var len = resp.length;
                    for(var i=0; i<len; i++) {
                        next_subul.append(
                            "<li><span class='unfold_fold fold'>+ </span><a class='component_item' data-id='"
                            + resp[i]['id'] + "'>" + resp[i]['name'] + "</a><ul class='none'></ul></li>"
                        );
                    }
                    next_subul.find('a').click(show_component_info);
                    next_subul.find('span').click(unfold_fold_tree);
                }
            });
        }
    }

    $('.unfold_fold').click(unfold_fold_tree);

    var reqs = [];
    function add_cons(evt) {
        evt.preventDefault();
        var cons_expr = $('#cons_inp').val();
        var li_str = "<li>" + cons_expr + "<button class='mdreqd'>D</button>\
                <button class='mdreqm'>M</button></li>";
        $('#cons_list').append(li_str);   
        var vars = [];   
        for(var i = 0;i<props.length;i++){
            prop = props[i];
            var start_ind = cons_expr.indexOf(prop['name']);
            if (start_ind!=-1){
                cons_expr = cons_expr.replace(prop['name'], '?');
                vars.push(prop['id']);
                for(var j =0;j<prop['domin_display'].length;j++){
                    var dom_start_ind = cons_expr.indexOf(prop['domin_display'][j], start_ind);
                    if(dom_start_ind!=-1){
                        cons_expr = cons_expr.substr(0,dom_start_ind)+j+
                            cons_expr.substr(dom_start_ind+prop['domin_display'][j].length);
                    }
                }
            }
        }
        reqs.push({
            expr:cons_expr,
            vars:vars
        });
    }

    $('#cons_sub').click(add_cons);

    function sub_reqs(evt) {
        evt.preventDefault();
        $('#prods_list').empty();
        $('#conf_list').empty();
        $('#conf_desp').css('display','none');
        $.ajax({
            url: '/order/reqs',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify(reqs),
            success: function (resp) {
                var SC = resp[0];
                resp = resp.slice(1);
                if(SC=='S'){
                    var prods = resp.split(";");
                    for(var i = 0; i<prods.length-1; i++){
                        var prod = prods[i];
                        $('#prods_list').append("<input id='prod"+i+"' class='prod' type='checkbox' name='prod2' value='prod2' data-price='20'>\
                        <label for='prod"+i+"'>"+prod+"</label> price: 20\
                        <br>");
                    }
                    $('#prods_list').append("<div class='bill-wrapper'>\
                    <span id='total_price_desp'>Total Price: </span>\
                    <label id='total_price' for='total_price_desp'>0</label>\
                    <input id='sub_prod' class='sub-prod' type='submit' value='SUBMIT'>\
                    </div>");
                }
                else{
                    var confs = resp.split(";");
                    $('#conf_desp').css('display','block');
                    for(var i = 0; i<confs.length-1; i++){
                        var conf = confs[i];
                        $('#conf_list').append((i+1) +". "+ conf);
                    }
                }
                $('#prod_modal').css('display', 'block');
                $('body').attr('class', 'modal-open');
            }
        })
    }

    $("#sub_reqs").click(sub_reqs);

    function clo_modal() {
        $('#prod_modal').css('display', 'none');
        $('body').attr('class', 'modal-fade');
    }
    $('#clo_modal').click(clo_modal);
    var assignments = [];
    var total_price = 0;
    function modify_total_price() {
        if ($(this).is(':checked')) {
            total_price += $(this).data('price');
            assignments.push($(this).next().text() + ";");
        } else {
            total_price -= $(this).data('price');
            var ind = assignments.indexOf($(this).next().text()+";");
            assignments.splice(ind, 1);
        }
        $('#total_price').html(total_price);
    }
    $('#prods_list').on('click', '.prod', modify_total_price);

    function modify_constraint() {
        var expr = $(this).parent().contents().get(0).nodeValue;
        $('#cons_inp').val(expr);
        $(this).parent().remove();
    }

    function delete_constraint() {
        $(this).parent().remove();
    }
    $('#cons_list').on('click', '.mdreqd', delete_constraint);//bug here
    $('#cons_list').on('click', '.mdreqm', modify_constraint);

    function sub_prod() {
        $.ajax({
            url: '/order/new',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                assignments: assignments.join('\n'),
                price: total_price.toString()
            }),
            success: function (resp) {
                alert('success');
                clo_modal();
            }
        })
    }
    $('#prods_list').on('click', '#sub_prod', sub_prod);

    function op_keyboard(e){
        e.preventDefault();
        var op = $(this).text();
        $('#cons_inp').val($('#cons_inp').val() + ' ' + op + ' ');
    }

    $('.operation').on('click', op_keyboard);

    function op_prop(e){
        e.preventDefault();
        $('#cons_inp').val($('#cons_inp').val()+$(this).text());
    }
    $('#tips_props').on('click', '.pname', op_prop);
    $('#tips_props').on('click', '.pdom', op_prop);
</script> 

{%endblock script%}

</html>