 {% extends "home.html" %}

{% block title %}
    Config--Model
{% endblock %}

{% block style%}
    <link rel="stylesheet" href="/static/css/model.css">
{% endblock %}


{% block navbar %}
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" class="nav-link">
                Home
            </a>
            <a href="/products" class="nav-link">
                Products
            </a>
            <a class="nav-link active" href="/model">
                Model
            </a>
            <a class="nav-link" href="/config">
                Config
            </a>
            <a class="nav-link" href="/order">
                Order
            </a>
        </div>
    </nav>
    <div class="dropdown">
        <div class="menu_bars" onclick="toggle_menu(this)">
            <div class="menu_bar1"></div>
            <div class="menu_bar2"></div>
            <div class="menu_bar3"></div>
        </div>
        <a href="/" class="nav-link">Home</a>
        <a href="/products" class="nav-link">Products</a>
        <a href="/model" class="nav-link active">Model</a>
        <a href="/order" class="nav-link">Order</a>
        <a href="/about" class="nav-link">About</a>
    </div>
{% endblock navbar %}

{% block side %}
    <div>
        <p>Model list</p>
        <div id="model_list">
            {% for model in models %}
                <a class="model_item" data-id="{{model['id']}}">{{model['name']}}</a>
            {% else %}
                <p id="model_tip">No models here so for</p>
            {% endfor %}
        </div>
        <input value="Creat" type="button" id="create_btn">
    </div>
    
{% endblock %}

{% block main %}   

    <div id="flash_message"></div>

    <div class="model_display">
        <p id="welcome_tip">Welcome to model creator</p>

        <form id="model_form", class="none">
            <label for="name">Name</label>
            <input type="text" name="name" required placeholder="Can't be empty." id="model_name", data-model-id>
            <br>
            <label for="introduction">Introduction</label>
            <textarea name="introduction" required placeholder="Can't be empty." id="model_introduction"></textarea>
            <br>
            <label for="deadline" class="none">Deadline</label>
            <input type="datetime-local" name="deadline" required id="model_deadline" class="none">
            <br>
            <p id="delete_tip" class="none">Tip: This will delete all related components, properties and constraints. Are you sure?</label>
            <br>
            <div id="sure_btn" class="none">
                <input value="OK" type="submit" id="submit_btn">
                <input value="Cancle" type="button" id="cancle_btn">
            </div>
        </form>

        <div id="operate_btn" class="none">
            <input value="Release" type="button" id="release_btn">
            <input value="Update" type="button" id="update_btn">
            <input value="Delete" type="button" id="delete_btn">
            <br>
            <br>
            <a href="/component" id="enter_component">Manage components</a>
        </div>

    </div>

{%endblock%}

{%block script%}
<script>

    function show_model_info(e) {
        e.preventDefault();
        if($('#sure_btn').hasClass('none')) {
            $('.model_item.active').removeClass('active');
            $(this).addClass('active');
            $('#model_name').val($(this).text());
            $('#model_name').attr('readonly', true);
            $('#model_name').data('model-id', $(this).data('id'));
            $.ajax({
                url: '/model/item',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: $(this).data('id')
                }),
                success: function(resp) {
                    $('#model_introduction').val(resp['introduction']);
                    $('#model_introduction').attr('readonly', true);
                    $('#welcome_tip').addClass('none');
                    $('#model_form').removeClass('none');
                    $('#operate_btn').removeClass('none');
                    $('#sure_btn').addClass('none');
                }
            });
        }
    }

    $('.model_item').click(show_model_info);

    function create_model() {
        $(this).addClass('active');
        $(this).addClass('none');
        $('.model_item.active').removeClass('active');
        $('#welcome_tip').addClass('none');
        $('#model_form').removeClass('none');
        $('#model_name').val('');
        $('#model_name').attr('readonly', false);
        $('#model_introduction').val('');
        $('#model_introduction').attr('readonly', false);
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#create_btn').click(create_model);

    function release_model() {
        $(this).addClass('active');
        $('#create_btn').addClass('none');
        $('#model_deadline').removeClass('none');
        $('#model_deadline').prev().removeClass('none');
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#release_btn').click(release_model);

    var old_name, old_introduction; //记录原值，以供取消修改后恢复model的相应展示内容。

    function update_model() {
        $(this).addClass('active');
        $('#create_btn').addClass('none');
        old_name = $('#model_name').val();
        $('#model_name').attr('readonly', false);
        old_introduction = $('#model_introduction').val();
        $('#model_introduction').attr('readonly', false);
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#update_btn').click(update_model);

    function delete_model() {
        $(this).addClass('active');
        $('#create_btn').addClass('none');
        $('#delete_tip').removeClass('none');
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#delete_btn').click(delete_model);

    function judge_submit_btn(e) {
        e.preventDefault()
        var url, data;
        if($('#create_btn').hasClass('active')) {
            if($('#model_name').val() == '' || $('#model_introduction').val() == '') {
                return;
            }
            url = '/model/create';
            data = {
                name: $('#model_name').val(),
                introduction: $('#model_introduction').val()
            };
        }
        else if($('#release_btn').hasClass('active')) {
            if($('#model_deadline').val() == '') {
                return;
            }
            url = '/model/release';
            data = {
                id: $('#model_name').data('model-id'),
                deadline: $('#model_deadline').val(),
            };
        }
        else if($('#update_btn').hasClass('active')) {
            if($('#model_name').val() == '' || $('#model_introduction').val() == '') {
                return;
            }
            url = '/model/update';
            data = {
                id: $('#model_name').data('model-id'),
                name: $('#model_name').val(),
                introduction: $('#model_introduction').val()
            };
        }
        else if($('#delete_btn').hasClass('active')) {
            url = '/model/delete';
            data = {
                id: $('#model_name').data('model-id')
            };
        }
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(resp) {
                if(url == '/model/create') {
                    $('#flash_message').text('Create model success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    var name = $('#model_name').val();
                    $('#model_list').append('<a class="model_item active" data-id="'
                             + resp['id'] +'">' + name + '</a>'
                    );
                    $('#model_list').children('a').last().click(show_model_info);
                    $('#model_tip').addClass('none');
                    $('#create_btn').removeClass('active');
                    $('#create_btn').removeClass('none');
                    $('#model_name').attr('readonly', true);
                    $('#model_introduction').attr('readonly', true);
                    $('#sure_btn').addClass('none');
                    $('#operate_btn').removeClass('none');
                }
                else if(url == '/model/release') {
                    $('#flash_message').text('Release model success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    $('.model_item.active').remove();
                    $('#release_btn').removeClass('active');
                    $('#create_btn').removeClass('none');
                    $('#welcome_tip').removeClass('none');
                    $('#model_form').addClass('none');
                    $('#model_deadline').addClass('none');
                    $('#model_deadline').prev().addClass('none');
                    $('#sure_btn').addClass('none');                   
                }
                else if(url == '/model/update') {
                    $('#flash_message').text('Update model success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    $('.model_item.active').text($('#model_name').val());
                    $('#update_btn').removeClass('active');
                    $('#create_btn').removeClass('none');
                    $('#model_name').attr('readonly', true);
                    $('#model_introduction').attr('readonly', true);
                    $('#sure_btn').addClass('none');
                    $('#operate_btn').removeClass('none');
                }
                else if(url == '/model/delete') {
                    $('#flash_message').text('Delete model success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    $('.model_item.active').remove();
                    if(!$('#model_list').children().hasClass('model_item')) {
                        $('model_tip').removeClass('none');
                    }
                    $('#delete_btn').removeClass('active');
                    $('#delete_tip').addClass('none');
                    $('#create_btn').removeClass('none');
                    $('#welcome_tip').removeClass('none');
                    $('#model_form').addClass('none');
                    $('#sure_btn').addClass('none');
                }
            }
        });
    }

    $('#submit_btn').click(judge_submit_btn);

    function judge_cancle_btn() {
        if($('#create_btn').hasClass('active')) {
            $('#create_btn').removeClass('active');
            $('#create_btn').removeClass('none');
            $('#welcome_tip').removeClass('none');
            $('#model_form').addClass('none');
            $('#sure_btn').addClass('none');
        }
        else if($('#release_btn').hasClass('active')) {
            $('#release_btn').removeClass('active');
            $('#model_deadline').addClass('none');
            $('#model_deadline').prev().addClass('none');
            $('#create_btn').removeClass('none');
            $('#sure_btn').addClass('none');
            $('#operate_btn').removeClass('none');
        }
        else if($('#update_btn').hasClass('active')) {
            $('#update_btn').removeClass('active');
            $('#create_btn').removeClass('none');
            $('#sure_btn').addClass('none');
            $('#operate_btn').removeClass('none');
            $('#model_name').val(old_name);            
            $('#model_name').attr('readonly', true);
            $('#model_introduction').val(old_introduction);
            $('#model_introduction').attr('readonly', true);
        }
        else if($('#delete_btn').hasClass('active')) {
            $('#delete_btn').removeClass('active');
            $('#delete_tip').addClass('none');
            $('#create_btn').removeClass('none');
            $('#sure_btn').addClass('none');
            $('#operate_btn').removeClass('none');
        }
    }

    $('#cancle_btn').click(judge_cancle_btn);

    $(function () {
        $('#flash_message').hide();
    });    

</script>
{%endblock%}