{% extends "home.html" %}

{% block title %}
    Config--Model--Component--Property
{% endblock %}

{% block style%}
    <link rel="stylesheet" href="/static/css/property.css">
{% endblock %}


{% block navbar %}
    <nav class="navbar">
        <div class="nav-links">
            <a href="/" class="nav-link">
                Home
            </a>
            <a href="/products" class="nav-link">
                Products
            </a>
            <a class="nav-link active" href="/model">
                Model
            </a>
            <a class="nav-link" href="/config">
                Config
            </a>
            <a class="nav-link" href="/order">
                Order
            </a>
        </div>
    </nav>
    <div class="dropdown">
        <div class="menu_bars" onclick="toggle_menu(this)">
            <div class="menu_bar1"></div>
            <div class="menu_bar2"></div>
            <div class="menu_bar3"></div>
        </div>
        <a href="/" class="nav-link">Home</a>
        <a href="/products" class="nav-link">Products</a>
        <a href="/model" class="nav-link active">Model</a>
        <a href="/order" class="nav-link">Order</a>
        <a href="/about" class="nav-link">About</a>
    </div>
{% endblock navbar %}

{% block side %}
    <div>
        <p>{{component_name}} Property list</p>
        <div id="property_list">
            {% for property in properties %}
                <a class="property_item" data-id="{{property['id']}}">{{property['name']}}</a>
            {% else %}
                <p id="property_tip">No propertys here so for</p>
            {% endfor %}
        </div>
        <input value="Creat" type="button" id="create_btn">
    </div>
    
{% endblock %}

{% block main %}   

    <div id="back"><a href="/component">Back</a></div>

    <div id="flash_message"></div>

    <div class="property_display">
        <p id="welcome_tip">Welcome to property manager</p>

        <form id="property_form", class="none">
            <label for="name">Name</label>
            <input type="text" name="name" required placeholder="Can't be empty." id="property_name", data-property-id>
            <br>
            <label for="introduction">Introduction</label>
            <textarea name="introduction" required placeholder="Can't be empty." id="property_introduction"></textarea>
            <br>
            <label for="datatype">Datatype</label>
            <input type="text" name="datatype" readonly id="property_datatype">
            <select required id="select_datatype" class="none">
                <option value="int">int</option>
                <option value="float">float</option>
                <option value="string">string</option>
            </select>
            <br>
            <label for="domin_display">Domin</label>
            <textarea type="text" name="domin_display" required placeholder="Can't be empty. Please separate values with commas, e.g. 1,2,3,4 "
                id="property_domin_display"></textarea>
            <br>
            <label for="dataunit">Dataunit</label>
            <input type="text" name="dataunit" placeholder="Can be empty." id="property_dataunit">
            <br>
            <label id="delete_tip" class="none">Tip: This will delete all related constraints. Are you sure?</label>
            <br>
            <div id="sure_btn" class="none">
                <input value="OK" type="submit" id="submit_btn">
                <input value="Cancle" type="button" id="cancle_btn">
            </div>
        </form>

        <div id="operate_btn" class="none">
            <input value="Update" type="button" id="update_btn">
            <input value="Delete" type="button" id="delete_btn">
        </div>

    </div>

{%endblock%}

{%block script%}
<script>

    function show_property_info(e) {
        e.preventDefault();
        if($('#sure_btn').hasClass('none')) {
            $('.property_item.active').removeClass('active');
            $(this).addClass('active');
            $('#property_name').val($(this).text());
            $('#property_name').attr('readonly', true);
            $('#property_name').data('property-id', $(this).data('id'));
            $.ajax({
                url: '/property/item',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: $(this).data('id')
                }),
                success: function(resp) {
                    $('#welcome_tip').addClass('none');
                    $('#property_introduction').val(resp['introduction']);
                    $('#property_introduction').attr('readonly', true);
                    $('#property_datatype').val(resp['datatype']);
                    $('#property_datatype').attr('readonly', true);
                    $('#property_domin_display').val(resp['domin_display']);
                    $('#property_domin_display').attr('readonly', true);
                    $('#property_dataunit').val(resp['dataunit']);
                    $('#property_dataunit').attr('readonly', true);
                    $('#property_form').removeClass('none');
                    $('#operate_btn').removeClass('none');
                    $('#sure_btn').addClass('none');
                }
            });
        }
    }

    $('.property_item').click(show_property_info);

    function create_property() {
        $(this).addClass('active');
        $(this).addClass('none');
        $('.property_item.active').removeClass('active');
        $('#welcome_tip').addClass('none');
        $('#property_form').removeClass('none');
        $('#property_name').val('');
        $('#property_name').attr('readonly', false);
        $('#property_introduction').val('');
        $('#property_introduction').attr('readonly', false);
        $('#property_datatype').addClass('none');
        $('#select_datatype').removeClass('none');
        $('#property_domin_display').val('');
        $('#property_domin_display').attr('readonly', false);
        $('#property_dataunit').val('');
        $('#property_dataunit').attr('readonly', false);
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#create_btn').click(create_property);

    var old_name, old_introduction, old_domin_display, old_dataunit; //记录原值，以供取消修改后恢复property的相应展示内容。

    function update_property() {
        $(this).addClass('active');
        $('#create_btn').addClass('none');
        old_name = $('#property_name').val();
        $('#property_name').attr('readonly', false);
        old_introduction = $('#property_introduction').val();
        $('#property_introduction').attr('readonly', false);
        $('#property_datatype').addClass('none');
        $('#select_datatype').removeClass('none');
        old_domin_display = $('#property_domin_display').val();
        $('#property_domin_display').attr('readonly', false);
        old_dataunit = $('#property_dataunit').val();
        $('#property_dataunit').attr('readonly', false);
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#update_btn').click(update_property);

    function delete_property() {
        $(this).addClass('active');
        $('#create_btn').addClass('none');
        $('#delete_tip').removeClass('none');
        $('#sure_btn').removeClass('none');
        $('#operate_btn').addClass('none');
    }

    $('#delete_btn').click(delete_property);

    function judge_submit_btn(e) {
        e.preventDefault()
        var url, data;
        if($('#create_btn').hasClass('active')) {
            if($('#property_name').val() == '' ||
                 $('#property_introduction').val() == '' ||
                 $('#property_domin_display').val() == '') {
                return;
            }
            url = '/property/create';
            data = {
                name: $('#property_name').val(),
                introduction: $('#property_introduction').val(),
                datatype: $('#select_datatype option:selected').val(),
                domin_display: $('#property_domin_display').val(),
                dataunit: $('#property_dataunit').val()
            };
            $('#property_datatype').val(data['datatype']);
        }
        else if($('#update_btn').hasClass('active')) {
            if($('#property_name').val() == '' || $('#property_introduction').val() == '') {
                return;
            }
            url = '/property/update';
            data = {
                id: $('#property_name').data('property-id'),
                name: $('#property_name').val(),
                introduction: $('#property_introduction').val(),
                datatype: $('#select_datatype option:selected').val(),
                domin_display: $('#property_domin_display').val(),
                dataunit: $('#property_dataunit').val()
            };
            $('#property_datatype').val(data['datatype']);
        }
        else if($('#delete_btn').hasClass('active')) {
            url = '/property/delete';
            data = {
                id: $('#property_name').data('property-id')
            };
        }
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(resp) {
                if(url == '/property/create') {
                    $('#flash_message').text('Create property success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    var name = $('#property_name').val();
                    $('#property_list').append('<a class="property_item active" data-id="'
                             + resp['id'] +'">' + name + '</a>'
                    );
                    $('#property_list').children('a').last().click(show_property_info);
                    $('#property_tip').addClass('none');
                    $('#create_btn').removeClass('active');
                    $('#create_btn').removeClass('none');
                    $('#property_name').attr('readonly', true);
                    $('#property_introduction').attr('readonly', true);
                    $('#property_datatype').removeClass('none');
                    $('#select_datatype').addClass('none');
                    $('#property_domin_display').attr('readonly', true);
                    $('#property_dataunit').attr('readonly', true);
                    $('#sure_btn').addClass('none');
                    $('#operate_btn').removeClass('none');
                }
                else if(url == '/property/update') {
                    $('#flash_message').text('Update property success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    $('.property_item.active').text($('#property_name').val());
                    $('#update_btn').removeClass('active');
                    $('#create_btn').removeClass('none');
                    $('#property_name').attr('readonly', true);
                    $('#property_introduction').attr('readonly', true);
                    $('#property_datatype').removeClass('none');
                    $('#select_datatype').addClass('none');
                    $('#property_domin_display').attr('readonly', true);
                    $('#property_dataunit').attr('readonly', true);
                    $('#sure_btn').addClass('none');
                    $('#operate_btn').removeClass('none');
                }
                else if(url == '/property/delete') {
                    $('#flash_message').text('Delete property success!');
                    $('#flash_message').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                    $('.property_item.active').remove();
                    if(!$('#property_list').children().hasClass('property_item')) {
                        $('property_tip').removeClass('none');
                    }
                    $('#delete_btn').removeClass('active');
                    $('#delete_tip').addClass('none');
                    $('#create_btn').removeClass('none');
                    $('#welcome_tip').removeClass('none');
                    $('#property_form').addClass('none');
                    $('#sure_btn').addClass('none');
                }
            }
        });
    }

    $('#submit_btn').click(judge_submit_btn);

    function judge_cancle_btn() {
        if($('#create_btn').hasClass('active')) {
            $('#create_btn').removeClass('active');
            $('#create_btn').removeClass('none');
            $('#welcome_tip').removeClass('none');
            $('#property_form').addClass('none');
            $('#sure_btn').addClass('none');
        }
        else if($('#update_btn').hasClass('active')) {
            $('#update_btn').removeClass('active');
            $('#create_btn').removeClass('none');
            $('#sure_btn').addClass('none');
            $('#operate_btn').removeClass('none');
            $('#property_name').val(old_name);            
            $('#property_name').attr('readonly', true);
            $('#property_introduction').val(old_introduction);
            $('#property_introduction').attr('readonly', true);
            $('#property_datatype').removeClass('none');
            $('#select_datatype').addClass('none');
            $('#property_domin_display').val(old_domin_display);
            $('#property_domin_display').attr('readonly', true);
            $('#property_dataunit').val(old_dataunit);
            $('#property_dataunit').attr('readonly', true);
        }
        else if($('#delete_btn').hasClass('active')) {
            $('#delete_btn').removeClass('active');
            $('#delete_tip').addClass('none');
            $('#create_btn').removeClass('none');
            $('#sure_btn').addClass('none');
            $('#operate_btn').removeClass('none');
        }
    }

    $('#cancle_btn').click(judge_cancle_btn);

    $(function () {
        $('#flash_message').hide();
    });    

</script>
{%endblock%}